{% extends 'base.html.twig' %}

{% block title %}A propos de Vayounette{% endblock %}
{% block body %}
<header class="navbar-global">
    <h2><a href="#">Vayounette</a></h2>
    <nav class="nav-global">
        <li><a href="{{ path('app_home') }}">Accueil</a></li>
        <li><a href="{{ path('app_about') }}" class="active">vayounette</a></li>
        <li><a href="{{ path('app_portefolio') }}">Portefolio</a></li>
        <li><a href="#">Market</a></li>
        <li><a href="#">Contact</a></li>
    </nav> 
</header>

<section class="about-vayounette">
    <div class="about-top">
        <h2 class="gallery-title">Vayounette</h2>
    </div>
    <div class="about-paralax"></div>
    <div class="about-paralax-mid">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. A minima error nulla optio provident, aspernatur odio dicta deleniti. Vel dolorem eum facere quos pariatur iste optio vitae. Deserunt, nam nisi.Lorem ipsum, dolor sit amet consectetur adipisicing elit. A minima error nulla optio provident, aspernatur odio dicta deleniti. Vel dolorem eum facere quos pariatur iste optio vitae. Deserunt, nam nisi.</p>
    </div>
    <div class="about-paralax2"></div>
    <div class="about-paralax-bottom">
        <p>Pour créer et réaliser ses illustrations, Vayounette s’inspire essentiellement de sa vie quotidienne entre son atelier de Bretagne, ainsi que de ses voyages qui l’emmènent chaque année plusieurs mois autour du globe.</p>
    </div>
    <div class="about-paralax3"></div>
</section>
{% include "footer/footer.html.twig" %}
{% endblock %}
