/*  ABOUT VAYOUNETTE    */

.about-vayounette {
    position: relative;
    width: 100%;
    color: #fff;
    /*background: var(--back-bg-color);*/
    background: center / cover no-repeat url('../../public/img/home_img/etoiles.png');
    text-align: center;
}

.about-vayounette::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #1c0522, transparent);
    z-index: 1000;
}

.about-paralax {
    background: center / cover no-repeat url('../../public/img/home_img/foret.png');
    background-attachment: fixed;
    width: 100%;
    height: 30vh;
}

.about-paralax2 {
    background: center / cover no-repeat url('../../public/img/home_img/foret.png');
    background-attachment: fixed;
    width: 100%;
    height: 30vh;
}

.about-paralax3 {
    background: center / cover no-repeat url('../../public/img/home_img/foret.png');
    background-attachment: fixed;
    width: 100%;
    height: 30vh;
}

.about-top {
    width: 100%;
    height: 20vh;
    padding: 16px;
    background-color: var(--back-bg-color);
}

.about-paralax-mid {
    width: 100%;
    height: 20vh;
    padding: 40px 50px;
    background-color: var(--back-bg-color);
}

.about-paralax-bottom {
    width: 100%;
    height: 20vh;
    padding: 40px 50px;
    background-color: var(--back-bg-color);
}

.about-img img {
    width: 10%;
}