/*  MARKET  */

.section-market {
    position: relative;
    width: 100%;
    background-color: var(--back-bg-color);
}

.market-title {
    text-align: center;
    color: #fff;
}


/*  SLIDE   */

.slider {
    width: 100%;
    position: relative;
    max-height: 90vh;
    overflow: hidden;
}

.content-slider {
    width: 500%;
    display: flex;
}

.content-slider input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

#slide-img {
    width: 100%;
}


/*  SLIDER MANUAL   */

.navigation-manuel {
    position: absolute;
    width: 100%;
    margin-top: -35%;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1;
}

.manual-btn:not(:last-child) {
    margin-right: 2.5rem;
}

.manual-btn:hover {
    background: rgb(106, 90, 168, 0.6);
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}

#radio5:checked ~ .first {
    margin-left: -80%;
}

/*  SLIDER MANUAL   */

.navigation-auto {
    position: absolute;
    width: 100%;
    margin-top: 5rem;
    display: flex;
    justify-content: center;

}

.navigation-auto div {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 2.5rem;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: rgb(106, 90, 168, 0.6);
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: rgb(106, 90, 168, 0.6);
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: rgb(106, 90, 168, 0.6);
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background: rgb(106, 90, 168, 0.6);
}

#radio5:checked ~ .navigation-auto .auto-btn5 {
    background: rgb(106, 90, 168, 0.6);
}


@media (max-width: 1000px) {
    .slider {
        padding: 100px 50px;
    }
    .navigation-manuel {
        margin-top: -20%;
    }
}

@media (max-width: 600px) {
    .slider {
        padding: 80px 30px;
    }
    .navigation-manuel {
        margin-top: -10%;
    }
}

@media (max-width: 800px) {
    .slider {
        min-height: 600px;
    }
}


/*  CARDS    */

#logo-amazon {
    width: 90%;
}

.card-contain {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 4rem 0;
}

.card {
    display: flex;
    padding: 10rem 0 0;
    margin: 1.5rem;
    max-width: 30ch;
    overflow: hidden;
    transition: transform 500ms ease;
}

.card1 {
    background-image: url('../../public/img/market_img/licorne_market.jpg');
    background-size: cover;
}

.card2 {
    background-image: url('../../public/img/market_img/mechant_market.jpg');
    background-size: cover;
}

.card3 {
    background-image: url('../../public/img/market_img/vacance_market.jpg');
    background-size: cover;
}

.card4 {
    background-image: url('../../public/img/market_img/charmant_market.jpg');
    background-size: contain;
}

.card5 {
    background-image: url('../../public/img/market_img/lama_market.jpg');
    background-size: cover;
}

.card6 {
    background-image: url('../../public/img/market_img/gomme_market.jpg');
    background-size: cover;
}

.card7 {
    background-image: url('../../public/img/market_img/kango_market.jpg');
    background-size: cover;
}

.card8 {
    background-image: url('../../public/img/market_img/maitresse_market.jpg');
    background-size: cover;
}

.card9 {
    background-image: url('../../public/img/market_img/zoup_market.jpg');
    background-size: cover;
}

.card10 {
    background-image: url('../../public/img/market_img/melody_market.jpg');
    background-size: cover;
}

.card11 {
    background-image: url('../../public/img/market_img/princess_market.jpg');
    background-size: cover;
}

.card12 {
    background-image: url('../../public/img/market_img/nature_market.jpg');
    background-size: contain;
}

.card:hover,
.card:focus-within {
    transform: scale(1.05);
}

.card-content {
    --padding: 1.5rem;
    padding: var(--padding);
    background-color: rgba(106, 90, 168, 0.7);
}

.card-title {
    position: relative;
    width: max-content;
    color: #fff;
}

.card-title::after {
    content: "";
    position: absolute;
    height: 5px;
    left: calc(var(--padding) * -1);
    bottom: -2px;
    width: calc(100% + var(--padding));
    background-color: var(--main-color);
    transform-origin: left;
    transition: 500ms ease;
}

.card:hover .card-title::after,
.card:focus-within .card-title::after {
    transform: scaleX(1);
}

.card-body {
    color: rgb(0 0 0 / 0.7);
}

@media (hover) {
    .card-content {
        transform: translateY(65%);
        transition: transform 500ms ease;
    }
    .card:hover .card-content,
    .card:focus-within .card-content {
        transform: translateY(0);
        transition-delay: 500ms;
    }

    .card:focus-within .card-content {
        transition-duration: 0ms;
    }

    .card-content > *:not(.card-title) {
        opacity: 0;
        transition: opacity 500ms linear;
    }

    .card:hover .card-content > *:not(.card-title),
    .card:focus-within .card-content > *:not(.card-title) {
        opacity: 1;
        transition-delay: 1000ms;
    }

    .card-title::after {
        transform: scaleX(0);
    }
}

.card-button {
    display: inline-block;
    background-color: var(--button-color);
    color: #fff;
    text-shadow: 2px 2px 2px black;
    font-weight: 800;
    border-radius: 5px;
    padding: 5px 10px;
}

.card-button:hover,
.card-button:focus {
    background-color: var(--button-hover);
}

.link-boutique {
    width: 85%;
    margin: auto;
    height: 20vh;
    text-align: center;
    color: #fff;
    border: 1px solid var(--police-bg-color);
}